# Install me like `pip install -r requirements.txt`

# Intro class
jupyter
pandas==3.0.1
polars==1.39.2
numpy>=2
matplotlib==3.10.1
scipy==1.16.2
pydantic[email]==2.12.5
pydantic-numpy==9.0.1
pyyaml==6.0.2
toml==0.10.2
snakeviz==2.2.2
pyinstrument==5.1.1
findiff==0.13.1
interpn==0.11.0
cfsem==4.0.0
seaborn==0.13.2
plotly==6.6.0
kaleido==1.2.0
aerosandbox==4.2.9
CoolProp==7.2.0
pint==0.25.2
